<html>

<head>
<title>Map of world</title>
</head>

<body>
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/cosmos.js"></script>
<script type="text/javascript">
var timerId;
</script>

<span style="cursor: pointer; text-decoration: underline" onclick="timerId = setInterval( makeRequest, 1000, '/json')">Start</span>
<span style="cursor: pointer; text-decoration: underline" onclick="clearInterval( timerId )">Stop</span>

<style>
.board {
  display: grid;
}

.row {
  display: flex;
  justify-content: space-between;
}

.field {
    padding: 5px 3px;
    margin: 1px 0px;
    background-color: lime;
}

.wall {
    background-color: black;
}

.road {
    background-color: maroon;
}

.port {
    background-color: blue;
}

.init {
    background-color: navy;
}

.person {
    background-color: fuchsia;
}
</style>

<div class="board">
{% for row in board %}
    <div class="row">
    {% for field in row %}
        <div class="field
            {% if field.lower() == 'w' %}wall{% endif %}
            {% if field.lower() == 'r' %}road{% endif %}
            {% if field.lower() == 'p' %}port{% endif %}
            {% if field.lower() == 'i' %}init{% endif %}
            {% if field != field.lower() %}person{% endif %}
            "></div>
    {% endfor %}
    </div>
{% endfor %}
</div>

</body>
</html>